services:
  library-development:
    network_mode: "host"
    build:
      context: .
      dockerfile: Dockerfile
      target: base
      args:
        PHP_VERSION: {{PLACEHOLDER_PHP_VERSION_ACTIVE_DEVELOPMENT}}
    volumes:
      - {{PLACEHOLDER_DIR}}:/app
    environment:
      XDEBUG_MODE: coverage
    command: >
      sh -c "php --version && composer install && composer php-library-test-docker-cmd"
